.book-main {
  background: #f8f8f2;
  min-height: 100vh;
  padding-bottom: 0;
  position: relative;
}

.booking-form-map-container {
  position: relative;
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
  padding-top: 350px;
  
  box-sizing: border-box;
  z-index: 1;
}

.map-background {
  width: 100%;
  margin-top: 24px;
  z-index: 1;
  
  
}
.booking-image {
  width: 100%;
  height: 500px; /* ou la hauteur que tu souhaites */
  object-fit: cover; /* pour que l’image remplisse bien le conteneur sans déformation */
  border-radius: 0; /* si tu veux enlever les arrondis */
  box-shadow: none; /* enlever ombres éventuelles */
  display: block;
}

