/* src/components/ArticlePage.css */
.article-page {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
  color: #333;
}
.article-page h1 {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 20px;
  color: #000;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
}
.article-page img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 5px;
}
.article-page section {
  margin-bottom: 30px;
  
}
.article-page h2 {
  font-size: 1.3em;
  margin-bottom: 10px;
  color: #0a0a0a;
}
.article-page p {
  line-height: 1.6;
  margin-bottom: 15px;
}
.article-page ol {
  padding-left: 20px;
  line-height: 1.6;
}
.article-page ol li {
  margin-bottom: 10px;
  line-height:1.6 ;
}
.article-page .read-more {
  text-align: center;
  margin-top: 40px;
}
.article-page .read-more h2 {
  font-size: 2.4em;
  margin-bottom: 10px;
  color: #000000;
 font-family: 'Playfair Display', serif;
 font-weight: 500;

}
.article-page .read-more p {
  color: #777;
  margin-bottom: 20px;
  text-align: center;
}
.article-page .cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
 
}
