.hero-section {
  background-image: url('../../public/hero-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  position: relative;
  color: #333;
}

.hero-content {
  max-width: 700px;
}

.hero-content h1 {
  font-size: 72px;
  font-weight: 500;
   font-family: 'Playfair Display', serif;
  margin-bottom: 20px;
  color: #000;
}

.hero-content p {
  font-size: 16px;
  color: #1e1b1b;
  margin-bottom: 40px;
  line-height: 1.5;
  

}

.hero-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.btn-red {
  background-color: #AD343E;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 25px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 16px;
}

.btn-red:hover {
  background-color: #A52A2A;
}

.btn-outline {
  background-color: transparent;
  color: #000;
  border: 2px solid #000;
  padding: 15px 30px;
  border-radius: 25px;
  font-weight: 50;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 16px;
}

.btn-outline:hover {
  background-color: #f8f8f8;

}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
