.menu-section {
  padding: 60px 20px;
  text-align: center;
  background: #fff;
}

.menu-title {
  font-size: 6rem;
  font-weight: 585;
  margin-bottom: 10px;
  font-family: 'Playfair Display', serif;
}

.menu-subtitle {
  color: #555;
  font-size: 18px;
  max-width: 600px;
  margin: auto;
  margin-bottom: 30px;
}

.menu-categories {
  margin-bottom: 40px;
}

.category-button {
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
 
}

.category-button:hover {
  background-color: #eee;
}

.category-button.active {
  background-color: #962d35;
  color: #fff;
  border: none;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  max-width: 1100px;
  margin: 0 auto;
}

.menu-card {
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}

.menu-card:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.menu-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.menu-info {
  padding: 15px;
  text-align: center;
}

.menu-price {
color: #962d35;
  font-weight: bold;
  font-size: 16px;
  margin: 5px 0;
}

.menu-name {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 5px;
}

.menu-desc {
  font-size: 13px;
  color: #666;
}

